apiVersion: v1
kind: ConfigMap
metadata:
  name: alert-rules
  namespace: monitoring
data:
  alert-rules.yml: |
    groups:
      - name: orders-app-alerts
        rules:
          - alert: OrdersAppDown
            expr: up{job="orders-app"} == 0
            for: 30s
            labels:
              severity: critical
            annotations:
              summary: "Orders App is DOWN"
              description: "The application orders-app is not responding."

          - alert: HighRestartCount
            expr: increase(kube_pod_container_status_restarts_total[5m]) > 1
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "Pod restarted multiple times"
              description: "A pod in the namespace has restarted more than once in the last 5 minutes."
