apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml

            - name: rules-volume
              mountPath: /etc/prometheus/alert-rules/alert-rules.yml
              subPath: alert-rules.yml

            - name: alertmanager-config
              mountPath: /etc/prometheus/alertmanager/alertmanager.yml
              subPath: alertmanager.yml

      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config

        - name: rules-volume
          configMap:
            name: alert-rules
            items:
              - key: alert-rules.yml
                path: alert-rules.yml

        - name: alertmanager-config
          configMap:
            name: alertmanager-config
            items:
              - key: alertmanager.yml
                path: alertmanager.yml
